aiohappyeyeballs
aiohttp
aiosignal
appdirs
astroid
async-timeout
attrs
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
colorama
colorlog
commonmark
cryptography
cssselect
customtkinter
darkdetect
dataclasses-json
dill
discord.py
distlib
docopt
et_xmlfile
fake-useragent
filelock
Flask
frozenlist
fuzzywuzzy
hikari
hikari-lightbulb
idna
importlib_metadata
isodate
isort
itsdangerous
Jinja2
lazy-object-proxy
Levenshtein
lxml
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
mccabe
mdurl
monotonic
multidict
mutagen
mypy-extensions
oauthlib
openpyxl
packaging
parse
platformdirs
prompt-toolkit
propcache
psutil
py-deezer
pyasn1
pycparser
pyee
Pygments
PyInquirer
pylint
pyperclip
pyppeteer
pyquery
PySimpleGUI
python-a2s
python-dotenv
python-Levenshtein
python-valve
python-youtube
pytube
RapidFuzz
regex
requests
requests-html
requests-oauthlib
rich
rsa
six
soupsieve
tomli
tomlkit
tqdm
typing-inspect
typing_extensions
ua-parser
ua-parser-builtins
urllib3
user-agents
virtualenv
w3lib
wcwidth
websockets
Werkzeug
wget
wrapt
yarl
zipp
