<!DOCTYPE html>
<html>
    <head>
        <!--add fav icon-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DLSStats</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}"> -->
        <link rel="stylesheet" href="../static/styles/styles.css">
    </head>
    <body>
        <div class="UpBar">
            <ul>
                <li><a href="/" class="siteName"><b>DLS</b>Stats</a></li>
                <!--input could redirect user to route /q=searchQuery-->
                <!--input should return only alpha chars; regex it. find way to avoid input injections with route.-->
                <li><input class="search-wrapper" id="search-wrapper" type="search" placeholder="Search..."></li>
            </ul>
    </body>
</html>
